PORT = 4000
# A URL de conexão do MongoDB deve conter a palavra "login"
#                                                                             ! login !
#                                                                                 v
MONGOURI_CONNECTION = mongodb+srv://<user>:<db_password>@user.acbde.mongodb.net/login?retryWrites=true&w=majority&appName=<CLusterName>
SECRET_KEY 
SESSION_SECRET = secret
SESSION_MAX_AGE_D = 0
SESSION_MAX_AGE_H = 1
SESSION_MAX_AGE_M = 0
BRIDGE_URL=http://localhost:10000
REACT_URL=http://localhost:5173
FLUTTER_URL=http://localhost:9001