# development
# USER_URL=http://localhost:3000/user
# LOGIN_URL=http://localhost:4000/auth
# ARTWORK_URL=http://localhost:5000/artwork
# COUNTER_URL=http://localhost:7000/counter
# QUERY_URL=http://localhost:8000/query

# production (k8s) 
USER_URL=http://localhost:30003/user
LOGIN_URL=http://localhost:30004/auth
ARTWORK_URL=http://localhost:30005/artwork
COUNTER_URL=http://localhost:30007/counter
QUERY_URL=http://localhost:30008/query