PORT = 8000
# A URL de conexão do MongoDB deve conter a palavra "query"
#                                                                             ! query !
#                                                                                 v
MONGOURI_CONNECTION = mongodb+srv://<user>:<db_password>@user.acbde.mongodb.net/query?retryWrites=true&w=majority&appName=<CLusterName>
SESSION_SECRET = secret
BRIDGE_URL=http://localhost:10000
REACT_URL=http://localhost:5173
FLUTTER_URL=http://localhost:9001